<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.appslure.newsd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.appslure.newsd.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsScreenActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoViewFlipperActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsWebView"
            android:label="@string/title_activity_news_web_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Follow"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomDialog" >
        </activity>
        <activity
            android:name=".Search"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BookMarkList"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TimeLine"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyAccount"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FollowedNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapSelection"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NextMapSelection"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FollowedStory"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapMainActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PeopleSelection"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BookMarkedNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity
            android:name=".NavigationTest"
            android:label="@string/title_activity_navigation_test" >
        </activity>
        -->
        <activity
            android:name=".MapFlickerActivity"
            android:label="@string/title_activity_map_flicker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateMapActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpcomingNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreviousSearchNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpcomingSearchNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreviousNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TickerNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CategoryFlipper"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationNews"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Enable Google Play Store Campaign reports -->
        <!--
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />

        <receiver
            android:name=".InstallReferrerReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".RevieverService"
            android:enabled="true" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.jb.appslu.newsd" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMNotificationIntentService" />

        <activity
            android:name=".CategorySwipe"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StorySwipeOne"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StorySwipeTwo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HowItWork"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PeopleList"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>
